.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.doglist-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.doglist {
  max-width: fit-content;
  min-width: 400px;
}

.newDogButton {
  margin: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.newDogForm,
.editWalkerForm,
.newCityForm {
  max-width: fit-content;
}

.newDogForm--header,
.editWalkerForm--header,
.newCityForm--header {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.walkers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selectCity-form {
  display: flex;
  justify-content: center;
}

.selectCity-input {
  max-width: fit-content;
}

.walkersList-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.walker-container {
  margin-bottom: 10px;
}

.walkerName:hover {
  font-weight: 900;
  cursor: pointer;
}

.assignDog-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.assignButton {
  margin-right: 20px;
}